<p-toolbar styleClass="mb-2">
    <div class="p-toolbar-group-left">
        <div class="text-3xl">View Department</div>
    </div>
    <div class="p-toolbar-group-right">
        <p-button label="Back To List" icon="pi pi-reply" (click)="goToList()"></p-button>
    </div>
</p-toolbar>

<p-card>
    <div class="formgrid grid">
        <div class="col-6">
            <div class="grid">
                <div class="col-12">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Department Name</label>
                        <div class="col-12 md:col-8">
                            {{departmentName}}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Description</label>
                        <div class="col-12 md:col-8">
                            {{description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-card>