<p-toolbar styleClass="mb-2">
    <div class="p-toolbar-group-left">
        <div class="text-3xl">Edit Designation</div>
    </div>
    <div class="p-toolbar-group-right">
        <p-button label="Back To List" icon="pi pi-reply" (click)="goToList()"></p-button>
    </div>
</p-toolbar>

<p-card>
    <form #designationForm="ngForm" (ngSubmit)="designationForm.form.valid && onSubmit()" novalidate>
        <div class="formgrid grid">
            <div class="col-6">
                <div class="grid">
                    <div class="col-12">
                        <div class="field grid">
                            <label class="pr-2 col-12 md:col-4 required">Designation Name</label>
                            <div class="col-12 md:col-8">
                                <input type="text" name="txtDesignationName" class="inputfield w-full" maxlength="20"
                                    required pInputText [(ngModel)]="designationName" #txtDesignationName="ngModel">
                                <div class="text-danger"
                                    *ngIf="txtDesignationName.invalid && (txtDesignationName.dirty || txtDesignationName.touched || designationForm.submitted)">
                                    <div *ngIf="txtDesignationName.errors?.['required']">
                                        Designation Name is required.
                                    </div>
                                    <div *ngIf="txtDesignationName.errors?.['maxlength']">
                                        Designation Name should not be more than 20 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="field grid">
                            <label class="pr-2 col-12 md:col-4">Description</label>
                            <div class="col-12 md:col-8">
                                <textarea pInputTextarea name="txtDescription" [(ngModel)]="description" maxlength="200"
                                    class="inputfield w-full" #txtDescription="ngModel">
                                </textarea>
                                <div class=" text-danger"
                                    *ngIf="txtDescription.invalid && (txtDescription.dirty || txtDescription.touched || designationForm.submitted)">
                                    <div *ngIf="txtDescription.errors?.['maxlength']">
                                        Description should not be more than 200 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <p-button label="Save" type="submit" class="mr-2"></p-button>
                        <p-button label="Cancel" styleClass="p-button-secondary" (click)="goToList()">
                        </p-button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</p-card>