<div class="grid">
    <div class="col-12 md:col-6">
        <p-card>
            <div class="grid">
                <div class="col-12 md:col-2">
                    <p-avatar *ngIf="profilePhotoName" [image]="getProfilePhotoPath()" shape="circle" size="xlarge">
                    </p-avatar>
                    <p-avatar *ngIf="!profilePhotoName" icon="pi pi-user" shape="circle" size="xlarge">
                    </p-avatar>
                </div>
                <div class="col-12 md:col-10">
                    <span class="text-900 font-medium text-3xl">{{name}}</span>
                    <div class="mt-3">
                        <span class="font-medium text-500">Employee Code</span>
                        <div class="text-700 mt-2">{{employeeCode}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="font-medium text-500">Designation</span>
                        <div class="text-700 mt-2">{{designation || '-'}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="font-medium text-500">Department</span>
                        <div class="text-700 mt-2">{{department || "-"}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="font-medium text-500">Reporting To</span>
                        <div class="text-700 mt-2">{{reportingTo || "-"}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="font-medium text-500">Blood Group</span>
                        <div class="text-700 mt-2">{{bloodGroup || "-"}}</div>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
    <div class="col-12 md:col-6">
        <p-card>
            <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        </p-card>
    </div>
</div>