html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

label {
  font-weight: 600;
}

.logo {
  height: 40px;
  width: 150px;
  margin: 0px 10px;
}

.text-danger {
  color: #ff5757;
}

.text-success{
  color: #1ea97c;
}

.text-warning{
  color: #cc8925;
}

.text-info{
  color: #696cff;
}

.text-overflow-wrap {
  overflow-wrap: break-word !important;
}

.required::after {
  content: '*';
  color: #dc3545;
  padding-left: 2px;
}

.p-toolbar ,
.p-panel-header {
  background-color: #f8f9fa !important;
}

.p-sidebar .p-sidebar-content {
  padding: 0.5rem !important;
  height: 100%;
}

.p-sidebar .p-sidebar-header {
  padding: 0;
}

.p-panelmenu {
  margin: 0.5rem;
}

.p-panelmenu .p-panelmenu-header > a {
  background-color: transparent;
}

.p-menuitem-link-active {
  background-color: var(--primary-color) !important;
}
.p-menuitem-link-active .p-menuitem-text,
.p-menuitem-link-active .p-menuitem-icon {
  color: var(--primary-color-text) !important;
}

.profile-pic, .profile-pic img{
  width: 8rem !important;
  height: 8rem !important;
}

.profile-pic span{
  font-size: 4rem !important;
}

.calendar-label{
  display: inline;
  padding: 0.2rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  color: #ffffff;
}

.p-selectbutton .p-button.p-highlight{
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-color-text) !important;
}

.p-selectbutton .p-button{
  background: #ffffff !important;
  border-color: #ced4da !important;
  color: #000000 !important;
}

.p-blockui{
  position: fixed !important;
}