<p-toolbar styleClass="mb-2">
    <div class="p-toolbar-group-left">
        <div class="text-3xl">User List</div>
    </div>
    <div class="p-toolbar-group-right">
        <span class="p-input-icon-left ">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" [(ngModel)]="searchKeyword" class="mr-2"
                (change)="onChangeSearchKeyword()" (keyup)="onChangeSearchKeyword()" />
        </span>
        <p-button icon="pi pi-times" styleClass="p-button-secondary mr-2" (click)="clearSearch()"></p-button>
        <i class="pi pi-info-circle mr-2"
            pTooltip="Search User using Employee Code, First Name, Last Name, Middle Name, Email Id, or Mobile No."></i>
        <p-button label="New" icon="pi pi-plus" *ngIf="canAdd" (click)="goToAdd()"></p-button>
    </div>
</p-toolbar>

<p-card>
    <p-table [value]="users" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Employee Code</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Status</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.employeeCode}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.middleName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.roleName}}</td>
                <td [ngClass]="{'text-success': user.status == 1,'text-danger': user.status == 2 || user.status == 3 }">
                    {{user.statusText}}
                </td>
                <td>
                    <p-button icon="pi pi-eye" styleClass="p-button-success mr-2"
                        [routerLink]="['/app/user/view/',user.id]">
                    </p-button>
                    <p-button icon="pi pi-pencil" styleClass="p-button-warning" *ngIf="canEdit"
                        [routerLink]="['/app/user/edit/',user.id]">
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="search($event)"></p-paginator>
</p-card>