<p-toolbar styleClass="mb-2">
    <div class="p-toolbar-group-left">
        <div class="text-3xl">Edit Employee</div>
    </div>
    <div class="p-toolbar-group-right">
        <p-button label="Back To List" icon="fa fa-reply" (click)="goToList()"></p-button>
    </div>
</p-toolbar>

<p-card styleClass="mb-2">
    <div class="grid">
        <div class="col-12 md:col-6">
            <div>
                <p-avatar *ngIf="profilePhotoName" [image]="getProfilePhotoPath()" styleClass="profile-pic"></p-avatar>
                <p-avatar *ngIf="!profilePhotoName" icon="fa fa-user" styleClass="profile-pic"></p-avatar>
            </div>
            <div class="flex mt-2">
                <p-fileUpload styleClass="mr-2" mode="basic" #profilePhoto [maxFileSize]="1000000"
                    accept="image/png, image/jpeg" (onSelect)="onSelectProfilePhoto($event, profilePhoto)"
                    chooseLabel="Upload Photo">
                </p-fileUpload>
                <p-button *ngIf="profilePhotoName" label="Remove" type="button" styleClass="p-button-secondary"
                    (click)="removeProfilePhoto()">
                </p-button>
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="grid">
                <div class="col-12">
                    <div class="grid">
                        <label class="pr-2 col-12 md:col-4">Employee Code</label>
                        <div class="col-12 md:col-8">
                            {{employeeCode}}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="grid">
                        <label class="pr-2 col-12 md:col-4">Full Name</label>
                        <div class="col-12 md:col-8">
                            {{fullName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-card>

<p-tabView (onChange)="onChangeTab($event)">
    <p-tabPanel header="Office">
        <form #employeeOfficeForm="ngForm" (ngSubmit)="employeeOfficeForm.form.valid && onSubmitEmployeeDetails()"
            novalidate>
            <div class="formgrid grid">
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4 required">First Name</label>
                        <div class="col-12 md:col-8">
                            <input type="text" pInputText name="txtFirstName" class="inputfield w-full" maxlength="20"
                                required [(ngModel)]="firstName" #txtFirstName="ngModel">
                            <div class="text-danger"
                                *ngIf="txtFirstName.invalid && (txtFirstName.dirty || txtFirstName.touched || employeePersonalForm.submitted)">
                                <div *ngIf="txtFirstName.errors?.['required']">
                                    First Name is required.
                                </div>
                                <div *ngIf="txtFirstName.errors?.['maxlength']">
                                    First Name should not be more than 20 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4 required">Middle Name</label>
                        <div class="col-12 md:col-8">
                            <input type="text" pInputText name="txtMiddleName" class="inputfield w-full" maxlength="20"
                                required [(ngModel)]="middleName" #txtMiddleName="ngModel">
                            <div class="text-danger"
                                *ngIf="txtMiddleName.invalid && (txtMiddleName.dirty || txtMiddleName.touched || employeePersonalForm.submitted)">
                                <div *ngIf="txtMiddleName.errors?.['required']">
                                    Middle Name is required.
                                </div>
                                <div *ngIf="txtMiddleName.errors?.['maxlength']">
                                    Middle Name should not be more than 20 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4 required">Last Name</label>
                        <div class="col-12 md:col-8">
                            <input type="text" pInputText name="txtLastName" class="inputfield w-full" maxlength="20"
                                required [(ngModel)]="lastName" #txtLastName="ngModel">
                            <div class="text-danger"
                                *ngIf="txtLastName.invalid && (txtLastName.dirty || txtLastName.touched || employeePersonalForm.submitted)">
                                <div *ngIf="txtLastName.errors?.['required']">
                                    Last Name is required.
                                </div>
                                <div *ngIf="txtLastName.errors?.['maxlength']">
                                    Last Name should not be more than 20 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Office Email Id</label>
                        <div class="col-12 md:col-8">
                            <input type="email" pInputText name="txtOfficeEmailId" [(ngModel)]="officeEmailId"
                                maxlength="50" class="inputfield w-full" #txtOfficeEmailId="ngModel" [email]="true">
                            <div class=" text-danger"
                                *ngIf="txtOfficeEmailId.invalid && (txtOfficeEmailId.dirty || txtOfficeEmailId.touched || employeeOfficeForm.submitted)">
                                <div *ngIf="txtOfficeEmailId.errors?.['email']">
                                    Office Email Id is not valid.
                                </div>
                                <div *ngIf="txtOfficeEmailId.errors?.['maxlength']">
                                    Office Email Id should not be more than 50 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Office Contact No</label>
                        <div class="col-12 md:col-8">
                            <input type="text" pInputText name="txtOfficeContactNo" [(ngModel)]="officeContactNo"
                                maxlength="15" class="inputfield w-full" #txtOfficeContactNo="ngModel">
                            <div class=" text-danger"
                                *ngIf="txtOfficeContactNo.invalid && (txtOfficeContactNo.dirty || txtOfficeContactNo.touched || employeeOfficeForm.submitted)">
                                <div *ngIf="txtOfficeContactNo.errors?.['maxlength']">
                                    Office Contact No should not be more than 15 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4 required">Joining On</label>
                        <div class="col-12 md:col-8">
                            <p-calendar inputId="dtJoiningOn" name="dtJoiningOn" [(ngModel)]="joiningOn"
                                dateFormat="dd/mm/yy" styleClass="inputfield w-full" [required]="true"
                                #dtJoiningOn="ngModel">
                            </p-calendar>
                            <div class=" text-danger"
                                *ngIf="dtJoiningOn.invalid && (dtJoiningOn.dirty || dtJoiningOn.touched || employeeOfficeForm.submitted)">
                                <div *ngIf="dtJoiningOn.errors?.['required']">
                                    Joining date is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Department</label>
                        <div class="col-12 md:col-8">
                            <p-dropdown styleClass="inputfield mr-2" name="drpDepartment" #drpDepartment="ngModel"
                                [(ngModel)]="departmentId" [options]="departments" optionValue="id" optionLabel="name"
                                [autoDisplayFirst]="false" [showClear]="true">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Designation</label>
                        <div class="col-12 md:col-8">
                            <p-dropdown styleClass="inputfield mr-2" name="drpDesignation" #drpDesignation="ngModel"
                                [(ngModel)]="designationId" [options]="designations" optionValue="id" optionLabel="name"
                                [autoDisplayFirst]="false" [showClear]="true">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Reporting To</label>
                        <div class="col-12 md:col-8">
                            <p-autoComplete styleClass="inputfield mr-2" name="drpReportingTo" #drpReportingTo="ngModel"
                                [(ngModel)]="selectedReportingTo" dataKey="value" [suggestions]="reportingToEmployees"
                                [forceSelection]="true" field="text"
                                (completeMethod)="getAvailableReportingPersons($event)">
                                <ng-template let-report pTemplate="item">
                                    {{report.text}}
                                </ng-template>
                            </p-autoComplete>
                            <i class="fa fa-circle-info"
                                pTooltip="Search Employee using Employee Code, First Name, Last Name, Middle Name, Email Id, or Mobile No. Only Top 50 Records will display."></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Confirmation On</label>
                        <div class="col-12 md:col-8">
                            <p-calendar inputId="dtConfirmationOn" name="dtConfirmationOn" [(ngModel)]="confirmationOn"
                                dateFormat="dd/mm/yy" [minDate]="joiningOn" styleClass="inputfield w-full"
                                #dtConfirmationOn="ngModel">
                            </p-calendar>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Resignation On</label>
                        <div class="col-12 md:col-8">
                            <p-calendar inputId="dtResignationOn" name="dtResignationOn" [(ngModel)]="resignationOn"
                                dateFormat="dd/mm/yy" [minDate]="joiningOn" styleClass="inputfield w-full"
                                #dtResignationOn="ngModel">
                            </p-calendar>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Relieving On</label>
                        <div class="col-12 md:col-8">
                            <p-calendar inputId="dtRelievingOn" name="dtRelievingOn" [(ngModel)]="relievingOn"
                                dateFormat="dd/mm/yy" [minDate]="joiningOn" styleClass="inputfield w-full"
                                #dtRelievingOn="ngModel">
                            </p-calendar>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-button label="Save" type="submit" class="mr-2"></p-button>
                    <p-button label="Cancel" styleClass="p-button-secondary" [routerLink]="['/app/employees/list']">
                    </p-button>
                </div>
            </div>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Personal">
        <form #employeePersonalForm="ngForm" (ngSubmit)="employeePersonalForm.form.valid && onSubmitPersonalDetails()"
            novalidate>
            <div class="formgrid grid">
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Birth Date</label>
                        <div class="col-12 md:col-8">
                            <p-calendar inputId="dtBirthDate" name="dtBirthDate" [(ngModel)]="birthDate"
                                dateFormat="dd/mm/yy" styleClass="inputfield w-full" #dtBirthDate="ngModel"
                                [maxDate]="today">
                            </p-calendar>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Gender</label>
                        <div class="col-12 md:col-8">
                            <p-radioButton name="rbGender" [value]="0" label="Male" class="mr-2" [(ngModel)]="gender">
                            </p-radioButton>
                            <p-radioButton name="rbGender" [value]="1" label="Female" class="mr-2" [(ngModel)]="gender">
                            </p-radioButton>
                            <p-radioButton name="rbGender" [value]="2" label="Other" [(ngModel)]="gender">
                            </p-radioButton>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Blood Group</label>
                        <div class="col-12 md:col-8">
                            <p-dropdown name="drpBloodGroup" [options]="bloodGroups" [(ngModel)]="bloodGroup"
                                #drpBloodGroup="ngModel" [autoDisplayFirst]="false"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Marital Status</label>
                        <div class="col-12 md:col-8">
                            <p-radioButton name="rbMaritalStatus" [value]="0" label="Single" class="mr-2"
                                [(ngModel)]="maritalStatus">
                            </p-radioButton>
                            <p-radioButton name="rbMaritalStatus" [value]="1" label="Married" class="mr-2"
                                [(ngModel)]="maritalStatus">
                            </p-radioButton>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Personal Email Id</label>
                        <div class="col-12 md:col-8">
                            <input type="email" pInputText name="txtPersonalEmailId" [(ngModel)]="personalEmailId"
                                maxlength="50" class="inputfield w-full" #txtPersonalEmailId="ngModel" [email]="true">
                            <div class=" text-danger"
                                *ngIf="txtPersonalEmailId.invalid && (txtPersonalEmailId.dirty || txtPersonalEmailId.touched || employeePersonalForm.submitted)">
                                <div *ngIf="txtPersonalEmailId.errors?.['email']">
                                    Personal Email Id is not valid.
                                </div>
                                <div *ngIf="txtPersonalEmailId.errors?.['maxlength']">
                                    Personal Email Id should not be more than 50 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Personal Mobile No</label>
                        <div class="col-12 md:col-8">
                            <input type="text" pInputText name="txtPersonalMobileNo" [(ngModel)]="personalMobileNo"
                                maxlength="15" class="inputfield w-full" #txtPersonalMobileNo="ngModel">
                            <div class=" text-danger"
                                *ngIf="txtPersonalMobileNo.invalid && (txtPersonalMobileNo.dirty || txtPersonalMobileNo.touched || employeePersonalForm.submitted)">
                                <div *ngIf="txtPersonalMobileNo.errors?.['maxlength']">
                                    Personal Mobile No should not be more than 15 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Other Contact No</label>
                        <div class="col-12 md:col-8">
                            <input type="text" pInputText name="txtOtherContactNo" [(ngModel)]="otherContactNo"
                                maxlength="15" class="inputfield w-full" #txtOtherContactNo="ngModel">
                            <div class=" text-danger"
                                *ngIf="txtOtherContactNo.invalid && (txtOtherContactNo.dirty || txtOtherContactNo.touched || employeePersonalForm.submitted)">
                                <div *ngIf="txtOtherContactNo.errors?.['maxlength']">
                                    Other Contact No should not be more than 15 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Parmenant Address</label>
                        <div class="col-12 md:col-8">
                            <textarea pInputTextarea name="txtParmenantAddress" [(ngModel)]="parmenantAddress"
                                maxlength="200" class="inputfield w-full" #txtParmenantAddress="ngModel">
                                </textarea>
                            <div class=" text-danger"
                                *ngIf="txtParmenantAddress.invalid && (txtParmenantAddress.dirty || txtParmenantAddress.touched || employeePersonalForm.submitted)">
                                <div *ngIf="txtParmenantAddress.errors?.['maxlength']">
                                    Parmenant Address should not be more than 200 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <div class="col-12">
                            <p-checkbox inputId="chkIsCurrentSameAsParmenantAddress"
                                name="chkIsCurrentSameAsParmenantAddress" [(ngModel)]="isCurrentSameAsParmenantAddress"
                                [binary]="true" (change)="onChangeSameAsAddress()"></p-checkbox>
                            <label class="ml-2" for="chkIsCurrentSameAsParmenantAddress">Current Address Is Same As
                                Parmenant</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Current Address</label>
                        <div class="col-12 md:col-8">
                            <textarea pInputTextarea name="txtCurrentAddress"
                                [disabled]="isCurrentSameAsParmenantAddress" [(ngModel)]="currentAddress"
                                maxlength="200" class="inputfield w-full" #txtCurrentAddress="ngModel">
                                </textarea>
                            <div class=" text-danger"
                                *ngIf="txtCurrentAddress.invalid && (txtCurrentAddress.dirty || txtCurrentAddress.touched || employeePersonalForm.submitted)">
                                <div *ngIf="txtCurrentAddress.errors?.['maxlength']">
                                    Current Address should not be more than 200 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-button label="Save" type="submit" class="mr-2"></p-button>
                    <p-button label="Cancel" styleClass="p-button-secondary" [routerLink]="['/app/employees/list']">
                    </p-button>
                </div>
            </div>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Bank Information">
        <form #bankDetailsForm="ngForm" (ngSubmit)="bankDetailsForm.form.valid && onSubmitBankDetails()" novalidate>
            <div class="formgrid grid">
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Bank Name</label>
                        <div class="col-12 md:col-8">
                            <input type="text" pInputText name="txtBankName" class="inputfield w-full" maxlength="50"
                                [(ngModel)]="bankName" #txtBankName="ngModel">
                            <div class="text-danger"
                                *ngIf="txtBankName.invalid && (txtBankName.dirty || txtBankName.touched || bankDetailsForm.submitted)">
                                <div *ngIf="txtBankName.errors?.['maxlength']">
                                    Bank Name should not be more than 50 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">IFSC Code</label>
                        <div class="col-12 md:col-8">
                            <input type="text" pInputText name="txtIFSCCode" class="inputfield w-full" maxlength="20"
                                [(ngModel)]="ifscCode" #txtIFSCCode="ngModel">
                            <div class="text-danger"
                                *ngIf="txtIFSCCode.invalid && (txtIFSCCode.dirty || txtIFSCCode.touched || bankDetailsForm.submitted)">
                                <div *ngIf="txtIFSCCode.errors?.['maxlength']">
                                    IFSC code should not be more than 20 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Branch Address</label>
                        <div class="col-12 md:col-8">
                            <textarea pInputTextarea name="txtBranchAddress" [(ngModel)]="branchAddress" maxlength="200"
                                class="inputfield w-full" #txtBranchAddress="ngModel">
                            </textarea>
                            <div class=" text-danger"
                                *ngIf="txtBranchAddress.invalid && (txtBranchAddress.dirty || txtBranchAddress.touched || bankDetailsForm.submitted)">
                                <div *ngIf="txtBranchAddress.errors?.['maxlength']">
                                    Branch Address should not be more than 200 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">Account Number</label>
                        <div class="col-12 md:col-8">
                            <input type="text" pInputText name="txtAccountNumber" class="inputfield w-full"
                                maxlength="50" [(ngModel)]="accountNumber" #txtAccountNumber="ngModel">
                            <div class="text-danger"
                                *ngIf="txtAccountNumber.invalid && (txtAccountNumber.dirty || txtAccountNumber.touched || bankDetailsForm.submitted)">
                                <div *ngIf="txtAccountNumber.errors?.['maxlength']">
                                    Account Number should not be more than 50 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">PAN Number</label>
                        <div class="col-12 md:col-8">
                            <input type="text" pInputText name="txtPFNumber" class="inputfield w-full" maxlength="50"
                                [(ngModel)]="panNumber" #txtPANNumber="ngModel">
                            <div class="text-danger"
                                *ngIf="txtPANNumber.invalid && (txtPANNumber.dirty || txtPANNumber.touched || bankDetailsForm.submitted)">
                                <div *ngIf="txtPANNumber.errors?.['maxlength']">
                                    PAN Number should not be more than 50 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">PF Number</label>
                        <div class="col-12 md:col-8">
                            <input type="text" pInputText name="txtPFNumber" class="inputfield w-full" maxlength="50"
                                [(ngModel)]="pfNumber" #txtPFNumber="ngModel">
                            <div class="text-danger"
                                *ngIf="txtPFNumber.invalid && (txtPFNumber.dirty || txtPFNumber.touched || bankDetailsForm.submitted)">
                                <div *ngIf="txtPFNumber.errors?.['maxlength']">
                                    PAN Number should not be more than 50 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field grid">
                        <label class="pr-2 col-12 md:col-4">UAN Number</label>
                        <div class="col-12 md:col-8">
                            <input type="text" pInputText name="txtUANNumber" class="inputfield w-full" maxlength="50"
                                [(ngModel)]="uanNumber" #txtUANNumber="ngModel">
                            <div class="text-danger"
                                *ngIf="txtUANNumber.invalid && (txtUANNumber.dirty || txtUANNumber.touched || bankDetailsForm.submitted)">
                                <div *ngIf="txtUANNumber.errors?.['maxlength']">
                                    PAN Number should not be more than 50 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p-button label="Save" type="submit" class="mr-2"></p-button>
                    <p-button label="Cancel" styleClass="p-button-secondary" [routerLink]="['/app/employees/list']">
                    </p-button>
                </div>
            </div>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Documents">
        <div class="grid">
            <div class="col-12 md:col-6">
                <form #docForm="ngForm" (ngSubmit)="docForm.form.valid && onUploadFile(docForm,fileUpload)" novalidate>
                    <div class="formgrid grid">
                        <div class="col-12">
                            <div class="field grid">
                                <label class="pr-2 col-12 md:col-4 required">Document</label>
                                <div class="col-12 md:col-8">
                                    <p-fileUpload mode="basic" #fileUpload [maxFileSize]="1000000"
                                        accept="image/*,application/pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                        (onSelect)="onSelectFile($event)" chooseLabel="Browse">
                                    </p-fileUpload>
                                    <div class="text-danger" *ngIf="isFileNotSelected">
                                        Document is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="field grid">
                                <label class="pr-2 col-12 md:col-4">Description</label>
                                <div class="col-12 md:col-8">
                                    <textarea type="text" pInputTextarea name="txtDescription" class="inputfield w-full"
                                        maxlength="200" [(ngModel)]="description" #txtDescription="ngModel"></textarea>
                                    <div class="text-danger"
                                        *ngIf="txtDescription.invalid && (txtDescription.dirty || txtDescription.touched || docForm.submitted)">
                                        <div *ngIf="txtDescription.errors?.['maxlength']">
                                            Description should not be more than 200 characters long.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <p-button label="Upload" type="submit" styleClass="mr-2"></p-button>
                            <p-button label="Clear" type="button" styleClass="p-button-secondary"
                                (click)="onClearFile(docForm,fileUpload)"></p-button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 md:col-6">
                <div class="surface-ground p-3 mb-3 relative" *ngFor="let file of files">
                    <div class="flex">
                        <div class="flex-1">
                            <div class="text-xl mb-1">{{file.fileName}}</div>
                            <div class="font-italic mb-1">Description: {{file.description ?? ''}}</div>
                            <div>Uploaded On: {{file.createdOn | date:'dd/MM/yyyy hh:mm'}}</div>
                        </div>
                        <div>
                            <button pButton type="button" icon="fa fa-download" class="mr-2"
                                (click)="downloadEmployeeDocument(file.id)"></button>
                            <button pButton type="button" icon="fa fa-trash" class="p-button-danger"
                                (click)="removeEmployeeDocument(file.id)"></button>
                        </div>
                    </div>
                </div>
                <div *ngIf="!files || files.length == 0">
                    No Documents Uploaded.
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Educations" [cache]="false">
        <ng-template pTemplate="content">
            <app-employee-education-list [employeeId]="id" [allowToEdit]="true"></app-employee-education-list>
        </ng-template>
    </p-tabPanel>
</p-tabView>