.login-background {
  background-image: url(../../../../assets/images/bg1.png);
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
